MONGODB_HOST=aladia-mongodb
MONGODB_PORT=27017
MONGODB_DATABASE=aladia
MONGODB_USER=aladia
MONGODB_PASSWORD=aladia
GATEWAY_PORT=3000
AUTHENTICATION_PORT=3001
AUTH_HOST=authentication
LISTEN_HOST=0.0.0.0